.DS_Store

CNAME
LICENSE
package.json
package-lock.json
*.lock
yarn-error.log
*debug.log
pnpm-lock.yaml

.gitignore
.prettierignore
.eslintignore
.eslintcache
.history

*.svg
*.png
*.jpg
*.gif
*.bmp

/dist
/build
/coverage